body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}


.hero, .footer{
    background-color: #1F2937;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p, .header a {
    font-size: 18px;
    color: #E5E7EB;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

button, .cta {
    background-color: #3882F6;
}

.main h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.footer {
    color: white;
    text-align: center;
}